<a href="https://colab.research.google.com/github/Divyanshu005/WebHost/blob/master/Capstone1B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Geographical coordinates Task

In [ ]:
import pandas as pd

In [11]:
df = pd.read_csv('capstopne1.csv')

In [12]:
df.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [ ]:
!pip install geocoder
import geocoder

In [19]:
def get_latlng(postal_code):# import geocoder
    # initialize your variable to None
    lat_lng_coords = None
    # loop until you get the coordinates
    while(lat_lng_coords is None):
        g = geocoder.arcgis('{}, Toronto, Ontario'.format(postal_code))
        lat_lng_coords = g.latlng
    return lat_lng_coords
    
get_latlng('M4G')

[43.70941386000004, -79.36309957799995]

In [20]:
postal_codes = df['PostalCode']    
coords = [ get_latlng(postal_code) for postal_code in postal_codes.tolist() ]

In [21]:
df_coords = pd.DataFrame(coords, columns=['Latitude', 'Longitude'])
df['Latitude'] = df_coords['Latitude']
df['Longitude'] = df_coords['Longitude']

In [22]:
df.head()

  PostalCode      Borough  ...   Latitude  Longitude
0        M1B  Scarborough  ...  43.808626 -79.189913
1        M1C  Scarborough  ...  43.785779 -79.157368
2        M1E  Scarborough  ...  43.765806 -79.185284
3        M1G  Scarborough  ...  43.771545 -79.218135
4        M1H  Scarborough  ...  43.768791 -79.238813

[5 rows x 5 columns]

In [23]:
df[df.PostalCode == 'M5G']

   PostalCode           Borough        Neighborhood   Latitude  Longitude
57        M5G  Downtown Toronto  Central Bay Street  43.656072 -79.385653

In [24]:
df.to_csv('capstone2.csv', index=False)

In [25]:
df

    PostalCode      Borough  ...   Latitude  Longitude
0          M1B  Scarborough  ...  43.808626 -79.189913
1          M1C  Scarborough  ...  43.785779 -79.157368
2          M1E  Scarborough  ...  43.765806 -79.185284
3          M1G  Scarborough  ...  43.771545 -79.218135
4          M1H  Scarborough  ...  43.768791 -79.238813
..         ...          ...  ...        ...        ...
98         M9N         York  ...  43.705496 -79.520370
99         M9P    Etobicoke  ...  43.696296 -79.533126
100        M9R    Etobicoke  ...  43.686887 -79.565507
101        M9V    Etobicoke  ...  43.744055 -79.581203
102        M9W    Etobicoke  ...  43.711615 -79.588351

[103 rows x 5 columns]